<div style="margin-top:20px; margin-bottom: 20px" class="row">
<p style="font-size: 180%" class="span12">Make fun guides for your friends when they visit town!</p>
</div>
<div class="row">  
<div class="span4">
<div id="carousel" class="carousel slide">
  <div class="carousel-inner">
    <% @guide.spots.each_with_index do |spot, index| %>
    <div class="item <%= 'active' if index == 0 %>">
    <%= image_tag(spot.photo_url) %>
      <div class="carousel-caption">
       <h4><%= link_to spot.name %></h4>
       <p><%= truncate(spot.description) %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>  
<script>$('.carousel').carousel()</script>
</div>
<div class="span6">
  <h2 style="font-size: 150%; margin-top: -10px">Featured guide</h2> <h3><%= link_to @guide.name, guide_path(@guide) %></h3>
  <h4>by <%= link_to @guide.user.username, user_path(@guide.user) %></h4>
  <p><% @guide.description %></p>
</div>
</div>